/* Color Schemes
1. Elegant
#7395ae;
#5d5c61;
#379683;
#557a95;
#b1a229;

2.Striking
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e
*/

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  list-style: none;
}

body {
  background-color: #1f2833;
}

.container {
  padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.project-category {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.navbar {
  background-color: #181818;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

header a {
  padding: 15px;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.projects h1,
.contact h1 {
  color: #66fcf1;
}

li {
  list-style: none;
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section {
  height: calc(100vh - 81.6px);
}
/* Greeting */
.text {
  margin-top: 120px;
}

.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block;
}

span:hover {
  color: #83888d;
  transition: all 0.5s;
}

span.name {
  color: #45a29e;
}

/* Contact Me Button */
.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 0.8rem;
}

.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #000000;
  color: #b1a296;
  font-size: 0.8rem;
  letter-spacing: 4px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;
}

.text a::before {
  content: "";
  background-color: #45a29e;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: 0.5s;
}

.text a:hover::before {
  height: 100%;
}
/* contact ends button */
/* Greeting Ends */
.profile-image img {
  width: 450px;
  margin-top: 55px;
  border-radius: 25px;
  opacity: 0.8;
}
/* about starts */
.about {
  height: 100vh;
  margin-top: 100px;
}

.about h1,
.projects h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.7;
  padding-top: 120px;
}

.about-me-info {
  max-width: 800px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: 30px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 25px;
}

.about-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.about img {
  width: 280px;
  position: relative;
  border-radius: 60px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
}
/* About Ends */

/* Projects Start */

.projects-category button {
  text-transform: capitalize;
  border: 3px solid #ed5565;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ed5565;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #252627;
  outline: none;
  cursor: pointer;
}

.category-designing p {
  color: white;
  font-size: 24px;
}

div[class^="category-"] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.projects a {
  justify-self: center;
  position: relative;
  display: inline-block;
}

.projects-category .active {
  background-color: #ed5565;
}

button.active {
  color: #fff;
}

.projects a img {
  width: 350px;
  justify-self: center;
}

/* Projects Ends */

/* Contact Form Starts */
.contact {
  margin-top: 50px;
}

.contact-info {
  padding: 50px;
  font-size: 30px;
  color: white;
}

.cont-1 {
  display: flex;
}

.cont-2 {
  float: right;
  display: flex;
}

.about-info {
  padding-bottom: 20px;
}

.comments {
  margin-bottom: 20px;
  padding: 10px;
}

.submit {
  height: 30px;
  width: 80px;
  margin-left: 60px;
}

input[type="text"] {
  padding: 5px;
}
/* Contact Form Ends */

/* footer */
footer hr {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: rgb(255, 255, 255);
}

footer {
  width: 100%;
  margin-top: 200px;
  display: inline-block;
}
/* footer ends */

/* New Progress Bar */

.skills {
  width: 90%;
  margin: 60px auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.skills li {
  margin: 20px 0;
}

.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: 0.7;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills-info {
  font-size: 1.4rem;
  color: #bebebe;
  position: relative;
  max-width: 800px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.progress-title {
  font-size: 8rem;
  color: #45a29e;
}

.progress-title:hover {
  color: whitesmoke;
}

.bar {
  background: rgb(0, 0, 0);
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
  height: 2px;
  float: left;
  background: #ffffff;
}
/* Skill bar width */
.html {
  width: 90%;
  animation: html 2s;
}

.css {
  width: 70%;
  animation: css 2s;
}

.bs {
  width: 50%;
  animation: bs 2s;
}

.js {
  width: 30%;
  animation: js 2s;
}

.react {
  width: 40%;
  animation: react 2s;
}

.rn {
  width: 40%;
  animation: rn 2s;
}

.php {
  width: 25%;
  animation: php 2s;
}

.gh {
  width: 85%;
}

/* keyframes to control skills bar animation */
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes rn {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes bs {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

/* Tablets
@media only screen and (min-width: 768px) {
  
} */

/* Phones */
@media only screen and (max-width: 600px) {
  /* header */

  .container {
    padding: 0;
  }

  nav li {
    margin: 0;
  }

  nav a {
    font-size: 10px;
  }

  .text p {
    font-size: 12px;
  }

  /* heaader ends */
  .about h1,
  .projects h1,
  .contact h1,
  .skills h1 {
    font-size: 30px;
    padding-top: 0;
  }
  /* About starts */
  .profile-image img {
    display: none;
  }
  .about {
    margin-top: 0;
  }

  .about-me-info {
    width: 70%;
  }

  .about img {
    display: none;
  }

  /* Skills Starts */

  .skills {
    width: 70%;
    margin: 20px auto;
  }

  .progress-title {
    font-size: 20px;
  }

  /* Projects Start */

  div[class^="category-"] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: none;
    grid-gap: 20px;
  }
}
